.footer {
    background-color: #333;
    color: white;
    padding: 20px 0;
    text-align: center;
}

.footer-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 10px;
}

.footer-logo h2 {
    margin-bottom: 5px;
    color: #ff5733;
    text-shadow: none;
}
.logo-image{
    width: 100px;
    height:auto
}

.footer-links {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.footer-links a, .footer-social a {
    color: white;
    text-decoration: none;
    font-size: 16px;
    transition: color 0.3s ease-in-out;
}

.footer-links a:hover, .footer-social a:hover {
    color: #ff5733;
}

.footer-social {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.footer-bottom {
    margin-top: 10px;
    padding-top: 10px;
    border-top: 1px solid #444;
    font-size: 14px;
}
p {
    margin-top: 0;
    margin-bottom: auto;
}
